<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Mac Volume Mixer</string>
	<key>CFBundleName</key>
	<string>Mac Volume Mixer</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSAudioCaptureUsageDescription</key>
	<string>Mac Volume Mixer needs access to control volume levels for individual applications.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Mac Volume Mixer needs microphone access to capture audio from apps using input-capable devices.</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Mac Volume Mixer uses Bluetooth to connect paired audio devices from the menu bar.</string>
	<key>SUFeedURL</key>
	<string>https://raw.githubusercontent.com/kishorecheerala/Mac-volume-mixer/main/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>xExSoQmCLDCez0KyhZ9EM9PdOZFZgyX/+VF+OVrpIlo=</string>
	<key>SUEnableInstallerLauncherService</key>
	<true/>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>macvolumemixer</string>
				<string>finetune</string>
			</array>
			<key>CFBundleURLName</key>
			<string>com.kishorecheerala.MacVolumeMixer</string>
		</dict>
	</array>
</dict>
</plist>
